/* Dashboard.css */

:root {
    --first-color: #FFC1CF; /* Pink  */
    --second-color: #E8FFB7; /* Tea green */
    --third-color: #E2A0FF; /* Mauve */
    --fourth-color: #C4F5FC; /* Light Cyan */
    --fifth-color: #B7FFD8; /* Aquamarine */
  }
.dashboard {
    display:flex ;
    height: 100vh;
  }
  
  .sidebar {
    width: 250px;
    background-color:var(--fifth-color);
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    position: left;
    height: 100%;
  }
  
  .sidebar h2 {
    margin: 0;
    font-size: 24px;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin: 15px 0;
  }
  
  .sidebar ul li a {
    color: black;
    text-decoration: none;
  }
  
  .sidebar button {
    background-color: var(--second-color);
    border: none;
    color: black;
    padding: 10px;
    cursor: pointer;
  }
  
  .main-content {
    margin-left: 250px;  /* Adjust to match sidebar width */
    flex-grow: 1;
    padding: 20px;
  }
  
  .main-content h1 {
    font-size: 36px;
  }
  